#editModal .modal-body{
    padding-right: 40px;
    padding-left: 40px;
}

#editModal .phoneNumbers .input-group{
    margin-bottom: 10px;
}
#editModal .addresses .input-group{
    margin-bottom: 10px;
}

#editModal .input-group-addon{
    cursor: pointer;
}